/*body{background: #88fff1;}*/
h1 {
	width: 100vw;
	margin-left: 0;
    margin: 25px 0;
	text-align: center;
	margin-top: 20px;	
}

.link_to_trip {
	color: black;
}

.trips-table {
	width: 90vw;
    font-size: 1.2em;
    font-family: sans-serif;
	border-collapse: separate;
	border-spacing: 15px;
  	border: none

}

/* center had welcome text it was commented out though*/
.center { /*background: rgb(245,245,245);*/
	margin-left: 0;
	margin-top: 30px;
	height: 200px;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

/* departure, starting from, going to, etc. boxes */

.trips-table td, th {
	padding: 10px;	
}

.trips-table th {
    text-align: center;
    background-color: white;
    color: black;
}

.trips-table th {
	border-right: 2px solid black;
  }
  .trips-table th:last-child {
	border-right: none;
  }

.info-table {
	width: 90vw;
	color: black;
	text-align: center;
}

.trips-table th:nth-child(1),
.info span:nth-child(1) {
  width: 20%;
}
.trips-table th:nth-child(2),
.info span:nth-child(2) {
  width: 20%;
}
.trips-table th:nth-child(3),
.info span:nth-child(3) {
  width: 20%;
}
.trips-table th:nth-child(4),
.info span:nth-child(4) {
  width: 20%;
}
.trips-table th:nth-child(5),
.info span:nth-child(5) {
  width: 20%;
}

/* start a new ride button */
.info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	padding: 1em;

	width: 90vw;
	border-radius: 2em;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 0 3px grey;
	box-shadow: 0px 5px 7px 1px #888888;
	
	color: black;
	text-decoration: none; 
	background-color: none;
	text-align: center;
	justify-content: center;	
	
}

.info:hover {
	background-color: #ddd;
}
  
span {
	flex-basis: 20%;
}


#navbar {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-col {
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 0px;
}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
  
.footer-container {
	margin-top: 40px;
    background-color: #d00000;
    width: 100vw; 
}

.footer-text {
    color:white;
}
